@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@config "../../tailwind.config.js";
@import 'tailwindcss';

body {
  @apply bg-background-primary text-base leading-6 font-normal text-typography-primary;

  font-family: 'Manrope', ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .promo {
    @apply text-5xl lg:text-6xl font-bold tracking-tight leading-none;
  }

  .heading {
    @apply text-3xl lg:text-4xl font-bold tracking-tight leading-10 lg:leading-tight;
  }

  .section-title {
    @apply text-2xl lg:text-3xl font-bold tracking-tight;
  }

  .block-title {
    @apply text-xl leading-7 font-semibold;
  }

  .description {
    @apply text-lg leading-7 font-normal;
  }

  .block-medium {
    @apply text-sm leading-5 font-medium;
  }

  .block-small {
    @apply text-[13px] leading-4.5 font-normal;
  }

  .block-micro {
    @apply text-xs leading-4 font-semibold tracking-wide;
  }

  .badge {
    @apply text-xs leading-4 font-semibold tracking-wide uppercase;
  }
}

@layer components {
  .swiper-button-next,
  .swiper-button-prev {
    @apply flex h-10 w-10 items-center justify-center rounded border border-border-strong bg-background-surface p-2 text-accent-primary shadow-sm transition-[color,background-color,border-color,transform];

    --swiper-navigation-color: theme('colors.accent.primary');

    color: theme('colors.accent.primary');
  }

  .swiper-button-next:active,
  .swiper-button-prev:active {
    @apply scale-95;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    @apply border-border-active bg-background-secondary text-accent-hover;

    --swiper-navigation-color: theme('colors.accent.hover');

    color: theme('colors.accent.hover');
  }

  .swiper-button-next:focus-visible,
  .swiper-button-prev:focus-visible {
    @apply outline-2 outline-offset-2 outline-accent-black;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply text-sm font-bold;
  }

  .swiper-button-disabled {
    @apply opacity-35;
  }
}
